
@Styles.Render("~/Content/CSS/index.css")
<div id="homepage">
    @{ for (int i = 1; i < 7; i++)
            {
                string a = string.Format("http://localhost:51359/Content/Images/player0{0}.jpg", i);
            <div class="col-md-4 col-sm-6 col-xs-6 player">
                <div class="post-thumb">
                    <img src="@a" alt="">
                    <div class="title-over">
                        <button onclick="Vote(@i)">Vote</button>
                    </div>
                </div>
            </div>
        }
    }
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Demo Vote</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/home/index.js")

